.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: $border-radius-16;
  background: $color-white;
  height: 28rem;
  width: 100%;
  bottom: 0;
  transition: bottom $transition-time-4 linear;
  padding: 2.4rem 2.4rem 2rem 2.4rem;

  .image {
    @include skeleton();
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
  }

  .title {
    @include skeleton();
    width: 16rem;
    height: 2rem;
    margin-bottom: 1.6rem;
  }

  .description {
    @include skeleton();
    width: 100%;
    height: 1.6rem;

    &:last-child {
      width: 23.2rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }

  .proposalRewards {
    margin-top: auto;
    display: flex;
    justify-content: space-between;

    .row {
      @include skeleton();
      width: 8.8rem;
      height: 1.6rem;

      &:not(:last-child) {
        margin-bottom: 0.4rem;
      }
    }
  }
}
