$paddingVertical: 1rem;

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border-radius: $border-radius-16;
  background: transparent;
  font-weight: $font-weight-bold;
  border: 0;
  min-height: 4rem;
  font-size: $font-size-14;

  &.isSmallFont {
    font-size: $font-size-12;

    @media #{$desktop-up} {
      width: 9.4rem;
      font-size: $font-size-14;
    }
  }

  &.isHigh {
    min-height: 4.8rem;
  }

  &.isClickable {
    cursor: pointer;
  }

  &.isDisabled {
    cursor: default;
  }

  &.hasHoverState:hover {
    transform: scale(1.03);
    transition: all $transition-time-4 ease-out;
  }
}

.variant-- {
  &cta {
    color: $color-white;
    border: 0.1rem solid $color-octant-dark;
    background: $color-octant-dark;

    &.isDisabled {
      color: $color-octant-grey2;
      background: $color-octant-grey1;
      border-color: $color-octant-grey1;
    }
  }

  &secondary {
    color: $color-octant-dark;
    border: 0.1rem solid $color-octant-dark;
    background: $color-white;

    &.isDisabled {
      cursor: auto;
      background: $color-white;
      border-color: $color-octant-grey1;
      color: $color-octant-grey1;
    }
  }

  &secondary2 {
    color: $color-octant-grey6;
    height: 3.2rem;
    border-radius: 1.6rem;
    background: $color-white;
    box-shadow: $box-shadow-1;
    min-height: 0;
    width: auto;
  }

  &iconVertical {
    color: $color-octant-grey3;
    display: flex;
    flex-direction: column;
    border: 0;
    font-size: $font-size-10;

    svg {
      color: $color-octant-grey3;
      stroke: $color-octant-grey3;

      path,
      circle,
      rect {
        color: $color-octant-grey3;
        stroke: $color-octant-grey3;
      }

      circle {
        fill: $color-octant-grey3;
      }
    }

    &.isActive {
      color: $color-octant-dark;

      svg {
        color: $color-octant-dark;
        stroke: $color-octant-dark;

        path,
        circle,
        rect {
          color: $color-octant-dark;
          stroke: $color-octant-dark;
        }

        circle {
          fill: $color-octant-dark;
        }
      }
    }
  }

  &iconOnly {
    border-radius: $border-radius-10;
    height: 3.2rem;
    max-height: 3.2rem;
    min-height: 3.2rem;
    width: 3.2rem;
    max-width: 3.2rem;
    min-width: 3.2rem;
    padding: 0;

    &:hover {
      background: $color-octant-grey4;
    }
  }

  &iconOnly2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-octant-grey4;
    border-radius: 50%;
    height: 2.4rem;
    max-height: 2.4rem;
    min-height: 2.4rem;
    width: 2.4rem;
    max-width: 2.4rem;
    min-width: 2.4rem;
    padding: 0;

    svg path {
      stroke: $color-octant-grey6;
    }
  }

  &iconOnlyTransparent {
    background: transparent;
    height: 3.2rem;
    width: 3.2rem;
    min-height: initial;
    padding: 0;
  }

  &iconOnlyTransparent2 {
    background: transparent;
    padding: 0;
    min-height: initial;
  }

  &link {
    font-size: $font-size-12;
    border-radius: 0;
    min-height: initial;
    color: $color-octant-green;
  }

  &link3 {
    position: relative;
    height: auto;
    display: inline;
    color: $color-octant-green;
    padding: 0;
    font-size: 1.6rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &link4 {
    position: relative;
    height: auto;
    display: inline;
    color: $color-octant-green2;
    padding: 0;
    font-size: 1.2rem;
    text-decoration: underline;
  }

  &link5 {
    position: relative;
    height: auto;
    display: inline-flex;
    color: $color-octant-grey6;
    padding: 0;
    font-size: 1.2rem;
    min-height: 2.4rem;

    .icon {
      margin-left: 0.4rem !important;
    }

    svg path {
      stroke: $color-octant-grey6;
    }
  }
}

.icon {
  display: flex;
  align-items: center;

  &:not(.isIconVariant) {
    &.isOnLeft {
      margin: 0 1.2rem 0 0;
    }

    &.isOnRight {
      margin: 0 0 0 1.2rem;
    }
  }
}

.loader {
  width: 1.6rem;
  height: 1.6rem;
  border-color: $color-white;
  border-top-color: $color-octant-grey14;
}
