.root {
  position: relative;
  width: 100%;
}

.label {
  &.variant-- {
    &boxRounded {
      position: absolute;
      top: -1.2rem;
      left: 0;
      font-size: $font-size-08;
      font-weight: $font-weight-bold;
      color: $color-octant-grey6;
      z-index: $z-index-2;
    }

    &simple {
      text-align: left;
      font-size: $font-size-10;
      font-weight: $font-weight-bold;
      color: $color-octant-grey6;
      margin: 0 0 0.5rem 0;
    }
  }
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  width: 100%;
  height: 100%;
  border: 0;

  &:focus-visible {
    outline: 0;
  }

  &.variant-- {
    &borderless {
      text-align: center;
      font-size: $font-size-20;
      background: transparent;

      &.isDisabled {
        color: $color-octant-grey2;

        &::placeholder {
          color: $color-octant-grey2;
        }
      }
    }

    &boxRounded {
      font-size: $font-size-14;
      font-weight: $font-weight-bold;
      background: transparent;
    }

    &simple {
      height: 4.8rem;
      padding: 1.6rem 0 1.6rem 1.6rem;
      border: 0.1rem solid $color-octant-grey2;
      border-radius: $border-radius-04;
      background: $color-white;
      font-size: $font-size-14;

      &.isDisabled {
        background: $color-octant-grey12;
      }

      &::placeholder {
        color: $color-octant-grey15;
        font-weight: $font-weight-semibold;
      }

      &:focus-visible {
        border-color: $color-octant-green;
      }

      &.isError {
        border-color: $color-octant-orange;
      }
    }
  }

  &.textAlign-- {
    &left {
      text-align: left;
    }
    &center {
      text-align: center;
    }
  }
}

.buttonClear {
  position: absolute;
  right: 1.6rem;

  &.isSuffix {
    right: 6.4rem;
  }
}

.suffix {
  position: absolute;
  background: transparent;

  &.variant-- {
    &boxRounded {
      top: 50%;
      z-index: $z-index-2;
      right: 2.4rem;
      transform: translate(0, -50%);
      font-weight: $font-weight-bold;
    }

    &simple {
      right: 1.6rem;
      z-index: $z-index-2;
      font-weight: $font-weight-bold;
      padding: 0.4rem 0.8rem;
      font-size: $font-size-12;
      color: $color-octant-dark;
      background: $color-octant-grey2;
      border-radius: $border-radius-04;

      &.isDisabled {
        color: $color-octant-grey6;
      }
    }
  }
}

.error {
  position: absolute;
  top: 100%;
  left: 0;
  text-align: left;
  font-size: $font-size-10;
  color: $color-octant-orange;
  font-weight: $font-weight-bold;
  margin-top: 0.5rem;
}
