$headerNavigationBorderRadius: $border-radius-32;
$headerMarginTop: 1.6rem;
$bodyPaddingTopMobile: calc(1.6rem + $headerMarginTop + $headerHeight);
$bodyPaddingTopDesktop: calc(2.4rem + $headerMarginTop + $headerHeight);

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.root,
.headerWrapper {
  min-width: 39rem;
  max-width: 70rem + $layoutMarginHorizontal * 2;
  margin: 0 auto;
}

.headerWrapper {
  position: fixed;
  width: 100%;
  z-index: $z-index-3;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $headerHeight;
  border-radius: $headerNavigationBorderRadius;
  background: $color-white;
  padding: 1.6rem;
  margin: $headerMarginTop $layoutMarginHorizontal 0;
  box-shadow: $box-shadow-1;
  z-index: $z-index-3;
}

.headerBlur {
  @include layoutOverflowBlurCommonProperties();
  height: $bodyPaddingTopMobile;
  top: 0;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.05)
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.05)
  );

  @media #{$desktop-up} {
    height: $bodyPaddingTopDesktop;
  }
}

.logoWrapper {
  position: relative;
  height: 4rem;
}

.testnetIndicatorWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -1rem;
  right: -0.2rem;
  transform: translate(75%, 0);
  background: $color-white;
  height: 1.6rem;
  box-sizing: content-box;
  border-radius: 1.2rem;
  padding: 0.4rem 0.5rem;
}

.testnetIndicator {
  display: flex;
  align-items: center;
  font-size: $font-size-10;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  color: $color-white;
  letter-spacing: 0.1rem;
  background: $color-octant-orange;
  border-radius: 0.8rem;
  height: 1.6rem;
  padding: 0 0.8rem;
  user-select: none;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttonWallet {
  margin-left: 1.6rem;
  cursor: pointer;

  &.isWalletModalOpen {
    transform: rotate(180deg);
  }
}

.profileInfo {
  display: flex;
  align-items: center;
  font-size: $font-size-14;
  cursor: pointer;
  padding: $layoutMarginHorizontal;
  margin: (-$layoutMarginHorizontal);
}

.walletInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.address {
  @include ethereumAddress();
  font-weight: $font-weight-bold;
}

.budget,
.allocationPeriod {
  font-size: $font-size-14;
}

.highlighted {
  color: $color-octant-orange;
  font-weight: $font-weight-bold;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  padding: $bodyPaddingTopMobile $layoutMarginHorizontal 12rem;

  @media #{$desktop-up} {
    padding-top: $bodyPaddingTopDesktop;
    padding-bottom: 15.2rem;
  }

  &.isNavigationBottomSuffix {
    padding-bottom: 20rem;

    @media #{$desktop-up} {
      padding-bottom: 24.8rem;
    }
  }

  &.isLoading {
    justify-content: center;
  }
}
