.root {
  color: $color-octant-dark;
  font-weight: $font-weight-semibold;

  &.isError {
    color: $color-octant-orange;
  }

  &.isDisabled {
    color: $color-octant-grey3;

    .secondary {
      color: $color-octant-grey3;
    }
  }

  &.textAlignment-- {
    &left {
      text-align: left;
    }
    &right {
      text-align: right;
    }
  }
}

.primary {
  font-size: $font-size-24;

  &.variant-- {
    &standard {
      font-size: $font-size-24;
    }

    &small {
      font-size: $font-size-18;
    }
  }
}

.secondary {
  font-size: $font-size-12;
  color: $color-octant-grey6;

  &.isError {
    color: $color-octant-orange;
  }
}
