.root {
  display: flex;
  height: 12.8rem;
  width: 100%;
  padding: 1.6rem 4.4rem 1.6rem 2.4rem;
}

.column1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .row {
    display: flex;
    height: 4rem;
    width: 100%;

    &:first-child {
      .rectangle {
        width: 24rem;
      }
    }

    .circle {
      @include skeleton();
      height: 3.2rem;
      width: 3.2rem;
      margin-right: 1.2rem;
      border-radius: 100%;
    }

    .rectangle {
      @include skeleton();
      height: 100%;
      width: 40rem;
    }
  }
}

.column2 {
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-self: center;

  .rectangle {
    @include skeleton();
    width: 7.2rem;
    height: 3.2rem;

    &:first-child {
      margin-bottom: 0.8rem;
    }
  }
}
