.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 34rem;
  height: 6rem; // solves flickering problem when Loader disappears and content (higher) loads.
}

.counters {
  width: 100%;
  display: flex;
  justify-content: space-around;

  &.variant-- {
    &small {
      border: 0.1rem solid $color-octant-grey2;
      border-radius: $border-radius-04;
      padding: 1.6rem;
    }
    &standard {
      margin: 0 0 1.6rem 0;
    }
  }
}

.counterSection {
  display: flex;
  flex-direction: column;
}

.value {
  font-weight: $font-weight-semibold;
  color: $color-octant-dark;

  &.variant-- {
    &standard {
      font-size: $font-size-20;
    }
    &small {
      font-size: $font-size-14;
    }
  }
}

.label {
  color: $color-octant-green2;

  &.variant-- {
    &standard {
      font-size: $font-size-10;
    }
    &small {
      font-size: $font-size-08;
      text-transform: uppercase;
      margin-top: 0.2rem;
    }
  }
}

.divider {
  color: $color-octant-grey3;
  font-size: $font-size-20;
}
