.box {
  height: 6.4rem;
  font-size: $font-size-12;

  &:not(:first-child) {
    margin: 1.6rem auto 0;
  }

  &.isDisabled {
    opacity: 0.5;
  }

  @media #{$desktop-up} {
    font-size: $font-size-14;
  }
}

.inputToggle {
  // Prevents inputs from shrinking when label text is long.
  flex-shrink: 0;
}

.spacer {
  height: 2.4rem;
  width: 0.1rem;
  background: $color-octant-grey2;
  margin-right: 4rem;
}

.currencySelectorWrapper {
  display: flex;
  font-size: $font-size-12;
}

.infoTitle {
  margin-bottom: 0.8rem;
}

.infoEpoch {
  padding: 0.4rem 0.8rem;
  background: $color-octant-grey2;
  border-radius: $border-radius-04;
  font-size: $font-size-12;
  font-weight: $font-weight-bold;
  line-height: 1.6rem;

  @media #{$desktop-up} {
    font-size: $font-size-14;
  }
}

.infoBox {
  padding: 4.4rem 2.2rem 0.5rem;

  @media #{$desktop-up} {
    padding: 4.5rem 2.2rem 2.5rem;
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 9.9rem;

  @media #{$desktop-up} {
    min-height: 8rem;
    margin-top: 1.6rem;
  }

  .info,
  .link {
    font-size: $font-size-12;
    line-height: 2rem;
    font-weight: $font-weight-semibold;

    @media #{$desktop-up} {
      font-size: $font-size-14;
    }
  }

  .link {
    min-height: 2rem;
  }

  .info {
    color: $color-octant-grey6;
  }
}
