$padding: 2.2rem;

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 $padding;
  border-radius: $border-radius-16;
  background: $color-white;
  font-size: $font-size-12;
  font-weight: $font-weight-bold;
  user-select: none;

  &.hasPadding {
    padding: $padding;
  }

  &.isGrey {
    color: $color-octant-grey10;
    background: $color-octant-grey4;
  }

  &.isClickable {
    cursor: pointer;
  }

  &.hasTabs {
    padding-top: 1.8rem;
  }

  &.isPaddingMovedToElements {
    padding-top: 0;
    padding-bottom: 0;
  }

  &.hasSections {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.tabs {
  display: flex;
  justify-content: flex-start;
  align-self: stretch;
  height: 3.8rem;
  border-bottom: 0.1rem solid $color-octant-grey4;
  margin: 0 0 2rem 0;

  &.isGrey {
    border-color: $color-white;
  }
}

.tab {
  position: relative;
  font-size: $font-size-14;
  color: $color-octant-grey3;

  &.isClickable {
    cursor: pointer;
  }

  &.isDisabled {
    cursor: default;
  }

  &.isActive {
    color: $color-octant-green2;
  }

  &:not(:last-child) {
    margin: 0 2rem 0 0;
  }
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: $color-octant-grey6;
  font-size: $font-size-14;
  font-weight: $font-weight-bold;
  margin: 0 0 0.5rem 0;

  .title {
    text-align: left;
  }

  &.hasSections {
    color: $color-octant-dark;
    font-size: $font-size-16;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    margin: 0;
    border-bottom: 0.1rem solid $color-octant-grey4;

    &.isGrey {
      border-bottom: 0.1rem solid $color-white;
    }
  }

  &.hasSubtitle {
    font-size: $font-size-16;
    color: $color-black;
  }

  &.isPaddingMovedToElements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid $color-octant-grey4;
    height: 4.8rem;
    align-self: stretch;
  }

  .chevron {
    transform: rotate(270deg);

    &.isExpandableChildrenVisible {
      transform: rotate(90deg);
    }

    path {
      stroke: $color-octant-grey6;
    }
  }

  .subtitle {
    font-size: $font-size-12;
    color: $color-octant-grey6;
  }
}

.expandableChildren {
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: 0.1rem solid $color-octant-grey4;
}

.children {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;

  &.isPaddingMovedToElements {
    padding: 1.5rem 0;
  }
}

.suffix {
  display: flex;
  align-items: center;
  color: $color-octant-green2;
  font-size: $font-size-12;
  border-top: 0.1rem solid $color-octant-grey4;
  align-self: stretch;
  height: 4rem;
}

.button {
  margin: 2.4rem 0;
  width: 100%;
}

.isVertical {
  flex-direction: column;
}

.justifyContent-- {
  &center {
    justify-content: center;
  }

  &spaceBetween {
    justify-content: space-between;
  }

  &start {
    justify-content: start;
  }
}

.alignment-- {
  &left {
    align-items: flex-start;
  }

  &center {
    align-items: center;
    text-align: center;
  }
}

.textAlign-- {
  &center {
    text-align: center;
  }

  &left {
    text-align: left;
  }

  &right {
    text-align: right;
  }
}

.underlineWrapper {
  position: absolute;
  bottom: -0.1rem;
  width: 100%;
  display: flex;
}

.underline {
  height: 0.2rem;
  width: 2.4rem;
  background: $color-octant-green2;
  margin: auto;
}
