$desktop-width: 47.2rem;

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: $z-index-5;
  left: 0;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  background: $color-octant-grey4;
  border-radius: $border-radius-20 $border-radius-20 0 0;

  &.variant {
    &--small {
      width: calc(100% - 4.8rem);
      border-radius: $border-radius-16;
      box-shadow: $box-shadow-2;
      margin: 0 2.4rem;

      .header {
        font-size: $font-size-14;
        margin: $modalVariantSmallPaddingMobile !important;
      }

      @media #{$desktop-up} {
        width: $desktop-width;
        margin: 0 0 0 calc($desktop-width / -2);

        .header {
          font-size: $font-size-20;
          margin: 2.4rem $modalVariantSmallPaddingDesktop !important;
        }
      }
    }
  }

  .header {
    position: relative;
    font-weight: $font-weight-bold;
    font-size: $font-size-20;
    color: $color-octant-dark;
    width: 100%;
    overflow: hidden;
    line-height: 8.8rem;
  }
}

.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background: $color-white;
  padding: 0 2.4rem 2.4rem;
  overflow: auto;
}

.overflow {
  @include overlay(0, 0);
  width: 100%;
  height: 100%;

  &.isOverflowOnClickDisabled:after {
    cursor: default;
  }
}

.buttonClose {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  z-index: $z-index-4;

  &.isFullScreen {
    position: fixed;
  }

  &.isCloseButtonDisabled {
    pointer-events: none;
    opacity: 0.5;

    svg path {
      stroke: $color-octant-grey2;
    }
  }
}

@media #{$desktop-up} {
  .root {
    width: $desktop-width;
    left: 50%;
    box-shadow: $box-shadow-1;
    border-radius: $border-radius-20;
    margin-left: calc($desktop-width / -2);
  }

  .buttonClose {
    &.isFullScreen {
      position: absolute;
    }
  }

  .body {
    padding: 0 5.6rem 5.6rem;

    &.hasImage {
      border-radius: 0 0 $border-radius-20 $border-radius-20;
    }
    &:not(.hasImage) {
      border-radius: $border-radius-20;
    }
  }
}
