.box {
  height: 14.4rem;

  &:not(:first-child) {
    margin: 1.6rem auto 0;
  }

  @media #{$desktop-up} {
    @include flexBasisGutter(2, 1.6rem);

    &.ethStaked,
    &.glmLocked {
      height: 12rem;
    }
  }
}

.lockedRatioProgressBar {
  margin: 1.6rem 0 0 0;
}

.tip {
  margin-bottom: 1.6rem;

  @media #{$desktop-up} {
    margin-bottom: 2.8rem;
  }
}

.blackText {
  color: $color-octant-dark;
}

.boxesGroup {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media #{$desktop-up} {
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .box {
    margin: 0 0 1.6rem;
  }

  .order1 {
    order: 1;
  }

  .order2 {
    order: 2;
  }

  .totalSupply {
    @media #{$tablet-down} {
      order: 3;
    }
  }
}
