@mixin overlay($width, $height) {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: $height;
  width: $width;
  z-index: $z-index-4;
  cursor: pointer;

  // This class needs to be aligned with whatever triggers the overflow to open, e.g. Modal.tsx.
  &.isOpen {
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);

    &::after {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: $z-index-4;
      cursor: pointer;
      background-color: $color-octant-grey4;
      opacity: 0.8;
    }
  }
}

@mixin flexBasisGutter($elementsCount, $gutterSize) {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(
    #{calc(100 / $elementsCount)}% - #{calc($gutterSize * ($elementsCount - 1) / $elementsCount)}
  );
}

@mixin boldText() {
  font-weight: $font-weight-superbold;
}

@mixin layoutOverflowBlurCommonProperties() {
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  width: 100%;
  padding: 0 $layoutMarginHorizontal;
  z-index: $z-index-3;
  pointer-events: none;
}

@mixin skeleton() {
  border-radius: 0.4rem;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, $color-octant-grey12),
    color-stop(18%, $color-octant-grey11),
    color-stop(35%, $color-octant-grey12)
  );
  background: linear-gradient(
    to right,
    color-stop(8%, $color-octant-grey12),
    color-stop(18%, $color-octant-grey11),
    color-stop(35%, $color-octant-grey12)
  );
  background-size: 80rem 10rem;
  animation: wave 2s infinite ease-out;
}

@mixin ethereumAddress() {
  /**
   * Default behaviour of Inter font replaces x mark between numbers with a multiplication symbol.
   * You can check it in https://fonts.google.com/specimen/Inter/tester (type ex. 0x34 and press enter).
   * This mixin solves this problem.
   */
  font-variant-ligatures: no-contextual;
}
