$border-radius-standard: 0.5rem;
$border-radius-04: 0.4rem;
$border-radius-08: 0.8rem;
$border-radius-10: 1rem;
$border-radius-16: 1.6rem;
$border-radius-20: 2rem;
$border-radius-32: 3.2rem;
$border-radius-40: 4rem;

$box-shadow-1: 0px 0px 25px rgba(0, 0, 0, 0.05);
$box-shadow-2: 0px 4px 25px rgba(0, 0, 0, 0.15);

$transition-time-1: 0.5s;
$transition-time-2: 0.25s;
$transition-time-3: 0.2s;
$transition-time-4: 0.1s;
$transition-time-5: 0.15s;

$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4; // overlays
$z-index-5: 5; // modals

// distances
$headerHeight: 7.2rem;
$layoutMarginHorizontal: 2.4rem;
$progressStepperSlimStepPadding: 2.4rem;
$modalVariantSmallPaddingMobile: 2.4rem;
$modalVariantSmallPaddingDesktop: 5.6rem;
