.root {
  position: relative;
  display: flex;
  background: $color-white;
  border-radius: $border-radius-16;
  width: 100%;
  height: 20rem;
  align-items: center;

  @media #{$desktop-up} {
    height: 19.2rem;
  }
}

.infoLabel {
  color: $color-octant-dark;
  font-weight: $font-weight-bold;
  font-size: $font-size-14;
  margin-left: 0.8rem;
  line-height: 3.2rem;

  @media #{$desktop-up} {
    font-size: $font-size-16;
  }
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.info {
  display: flex;
  align-items: center;
  padding: 2.4rem 0 0 2rem;

  @media #{$desktop-up} {
    padding: 2rem 0 0 2rem;
  }
}

.body {
  text-align: left;
  padding: 2.5rem 0 0.8rem 2.4rem;

  @media #{$desktop-up} {
    padding: 3rem 0 4.8rem 2.4rem;
    font-size: $font-size-20;
  }
}

.title {
  color: $color-octant-dark;
  font-weight: $font-weight-bold;
  font-size: $font-size-18;
  line-height: 3.2rem;

  @media #{$desktop-up} {
    font-size: $font-size-20;
  }
}

.imageWrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem 1.6rem 0;
  height: 100%;

  @media #{$desktop-up} {
    flex: 1;
    width: 28rem;
    padding: 1.6rem 2rem 1.6rem 0;
  }
}

.text {
  color: $color-octant-grey6;
  font-size: $font-size-12;
  font-weight: $font-weight-semibold;
  line-height: 2.2rem;
  width: 19rem;
  height: 7.7rem;
  margin-top: 0.2rem;

  @media #{$desktop-up} {
    margin-top: 0.6rem;
    flex: 1;
    width: 33.6rem;
    font-size: $font-size-14;
    height: 5.6rem;
  }
}

.buttonClose {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
