.box {
  &:not(:first-child) {
    margin: 1.6rem auto 0;
  }
}

.column {
  &:not(:last-child) {
    margin-bottom: 1.6rem;
  }

  @media #{$desktop-up} {
    @include flexBasisGutter(2, 1.6rem);
    margin-bottom: 0;
  }
}

.boxesWrapper {
  width: 100%;

  @media #{$desktop-up} {
    padding-right: 1.6rem;
  }
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: start;
  min-height: 0;

  @media #{$desktop-up} {
    flex-direction: row;
    justify-content: space-between;
  }
}

.tip {
  margin-bottom: 1.6rem;

  @media #{$desktop-up} {
    margin-bottom: 2.8rem;
  }
}

.preLaunchTimer {
  margin-top: 0.4rem;
}
