.root {
  display: flex;
  align-items: center;
  min-width: 34rem;
  padding: 2.4rem;
  font-size: $font-size-12;
  font-weight: $font-weight-bold;
  background: $color-white;
  border-radius: $border-radius-16;
  overflow-wrap: break-word;
}

.icon {
  margin: 0 1.4rem 0 0;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  color: $color-octant-dark;
  font-weight: $font-weight-bold;
  margin: 0 0 0.5rem 0;
}

.message {
  text-align: left;
  color: $color-octant-grey6;
}
