$heightRoot: 4rem;
$heightTrack: 0.8rem;
$thumbSize: $heightRoot;

.root {
  position: relative;
  height: $heightRoot;
  width: 100%;
  padding: 0 calc($thumbSize / 2);
}

.slider {
  position: absolute !important;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  height: $heightRoot;
  width: 100%;
}

.track {
  height: $heightTrack;
  border-radius: calc($heightTrack / 2);
  top: 50%;
  transform: translate(0, -50%);

  &:nth-child(1) {
    background: $color-octant-green;
  }

  &:nth-child(2) {
    background: $color-octant-orange3;
  }

  &.isDisabled {
    &:nth-child(1) {
      background: $color-octant-grey6;
    }
    &:nth-child(2) {
      background: $color-octant-grey3;
    }
  }
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $thumbSize;
  width: $thumbSize;
  background: $color-white;
  border-radius: 50%;
  box-shadow: $box-shadow-1;
  cursor: pointer;

  &:focus-visible {
    outline: none;
  }
}

.iconTrack {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.iconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background: $color-octant-grey12;
  border-radius: 50%;
}

.pinlock {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.7rem;
  height: 1rem;
}

.iconLock {
  z-index: 1;
}
