.browserWalletTile {
  margin-bottom: 1.6rem;
}

.icon {
  align-items: center;
  background: $color-octant-grey2;
  border-radius: $border-radius-16;
  display: flex;
  height: 4.8rem;
  justify-content: center;
  margin-right: 2.4rem;
  width: 4.8rem;
}

.iconGrey {
  * {
    fill: $color-octant-grey10 !important;
  }
}

.label {
  color: $color-octant-dark;
  font-size: $font-size-16;
  font-weight: $font-weight-bold;
}

.labelGrey {
  color: $color-octant-grey10;
}
