.root {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-octant-grey6;
  line-height: 2.4rem;

  .text {
    font-size: $font-size-14;
    font-weight: $font-weight-semibold;
    color: $color-octant-grey6;
    text-align: center;
    margin-top: 4rem;
    padding: 0 2rem;
  }

  .image {
    filter: grayscale(1);
    opacity: 0.25;
    width: 22rem;
  }
}
