.root {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 1.2rem;

    @media #{$desktop-up} {
      margin-bottom: 1.6rem;
    }
  }

  .info {
    display: flex;
    align-items: center;

    .logo {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      border: none;
      margin-right: 1.2rem;
    }

    @media #{$desktop-up} {
      font-size: $font-size-14;

      .logo {
        width: 3.2rem;
        height: 3.2rem;
        margin-right: 1.6rem;
      }
    }
  }

  .allocation {
    font-size: $font-size-12;
    font-weight: $font-weight-semibold;
    color: $color-octant-dark;

    @media #{$desktop-up} {
      font-size: $font-size-14;
    }
  }
}
