.mainLayoutBody {
  @media #{$tablet-down} {
    padding-left: 0;
    padding-right: 0;
    background: $color-white;
  }
}

.divider {
  background: $color-octant-grey2;
  height: 0.1rem;
  width: 100%;
  margin: 3.4rem 0 4.6rem;

  @media #{$desktop-up} {
    margin: 6.4rem 0 5rem;
  }
}

.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.proposal {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  background: $color-white;

  @media #{$desktop-up} {
    &:first-child {
      border-radius: $border-radius-16 $border-radius-16 0 0;
    }
  }
}

.proposalHeader,
.buttonAllocateWrapper,
.body,
.donors {
  padding-left: 5.6rem;
  padding-right: 5.6rem;

  @media #{$desktop-up} {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}

.proposalHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-top: 4.8rem;

  .imageProfileWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
  }

  .buttonAddToAllocate {
    &Primary {
      @media #{$desktop-up} {
        visibility: hidden;

        &.isEpoch1 {
          visibility: initial;
        }
      }
    }
    &Secondary {
      visibility: hidden;
      @media #{$desktop-up} {
        visibility: initial;
      }
    }
  }

  .imageProfile {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.6rem;

    @media #{$tablet-down} {
      width: 4.8rem;
      height: 4.8rem;
    }
  }

  .proposalRewards {
    margin: 3.2rem 0 5rem;
    border-bottom: 0.2rem solid $color-octant-grey4;
    padding-bottom: 2.4rem;
  }

  .name {
    font-size: $font-size-24;
    font-weight: $font-weight-bold;

    @media #{$tablet-down} {
      font-size: $font-size-16;
    }
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonWebsite {
  text-align: left;
  align-self: stretch;
  justify-content: flex-start;
  border-bottom: 0.1rem solid $color-octant-grey4;
  padding: 0.5rem 0 6.4rem;


  @media #{$tablet-down} {
    padding-bottom: 3.4rem;
  }
}

.actionsWrapper {
  display: flex;

  .tooltip {
    margin-right: 3.2rem;

    @media #{$desktop-up} {
      margin-right: 2.6rem;
    }
  }

  .shareIcon {
    border-radius: $border-radius-10;

    @media #{$desktop-up} {
      &:hover {
        cursor: pointer;
        background: $color-octant-grey12;

        path {
          stroke: $color-octant-dark;
        }
      }

      &.isCopied {
        background: $color-octant-grey2;

        path {
          stroke: $color-octant-dark;
        }
      }
    }
  }
}
