.root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &::after {
    content: '';
    position: absolute;
    top: 0.8rem;
    left: 0;
    transform: translate(0, -50%);
    height: 0.2rem;
    width: calc(100% - 0.1rem);
    background: $color-octant-green3;
  }
}

.element {
  position: relative;
  display: flex;
  flex-direction: column;
  color: $color-octant-grey5;
  flex: 1;

  &.isCurrent {
    color: $color-octant-dark;
  }

  &:first-child {
    align-items: flex-start;
  }

  &:not(:first-child):not(:last-child) {
    align-items: center;
  }

  &:last-child {
    align-items: flex-end;
  }
}

.dot {
  position: relative;
  z-index: $z-index-2;
  width: 1.6rem;
  height: 1.6rem;
  border: 0.2rem solid $color-octant-green3;
  border-radius: 50%;
  background: $color-octant-grey4;
  margin: 0 0 0.5rem 0;

  &.isCurrent,
  &.isAvailable {
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 0.8rem;
      width: 0.8rem;
      background: $color-octant-green3;
      border-radius: 50%;
    }
  }

  &.isCurrent::after {
    background: $color-octant-green3;
  }

  &.isAvailable::after {
    background: $color-octant-grey6;
  }

  &.isDone {
    background: $color-octant-green3;

    &::after {
      background: none;
    }
  }
}

.tick {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  path {
    stroke: $color-white;
  }
}
