.boxes {
  width: 100%;
}

.box {
  &.isAllocation {
    padding: 0;
  }

  &:not(:first-child) {
    margin: 1.6rem auto 0;
  }

  &.isTipTiles {
    width: 100%;
    margin: 0;
  }
}

.selectedItemOverlay {
  position: fixed;
  z-index: $z-index-2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-octant-grey8;
  opacity: 0.5;
  cursor: pointer;
}
