.root {
  width: 1.6rem;
  height: 1.6rem;
  position: relative;
  border: 0.1rem solid $color-octant-grey3;
  border-radius: 0.3rem;

  &.disabled {
    .svgChecked {
      & > rect {
        fill: $color-octant-grey3;
        stroke: $color-octant-grey3;
      }
    }

    .input {
      cursor: not-allowed;
    }
  }

  .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.6rem;
    height: 1.6rem;
    opacity: 0;
    z-index: $z-index-2;
    cursor: pointer;
  }

  .svgChecked {
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
  }
}
