.progressBar {
  align-self: stretch;
}

.bold {
  @include boldText();
}

.onboardingModalBody {
  flex-wrap: nowrap;
  flex-direction: column;
  overflow: hidden;

  @media #{$desktop-up} {
    padding: 0 4.8rem;
  }

  .onboardingModalHeader {
    display: flex;
    align-items: center;
    height: 8rem !important;
    font-size: $font-size-18;
    margin-bottom: 0 !important;

    @media #{$desktop-up} {
      font-size: $font-size-20;
    }
  }
}

.onboardingModalText {
  height: 17.2rem;
  line-height: 2.2rem;

  &,
  * {
    font-size: $font-size-14;
  }

  @media #{$desktop-up} {
    height: 19.2rem;
    line-height: 2.4rem;

    &,
    * {
      font-size: $font-size-16;
    }
  }
}

.onboardingModalImageWrapper,
.onboardingModalImageContainer {
  height: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: $color-octant-grey12;
  overflow: hidden;

  &.claimGlm {
    padding: 7.2rem 0 6.4rem;
  }

  &.welcomeToOctant {
    padding: 4rem 0 3.2rem;
  }

  &.earnRewards {
    padding: 5.5rem 0 2.8rem;
  }

  &.previewProjects {
    padding: 4.8rem 0 4rem;
  }

  &.getReady {
    padding: 6.2rem 0 4.4rem;
  }

  .onboardingModalImage {
    max-width: 100%;
    max-height: 100%;
  }

  @media #{$desktop-up} {
    height: 31.2rem;
  }
}

.loaderWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonClaimGlm {
  width: 100%;
  margin-top: 4.8rem;
}
