.box {
  padding: 1.6rem 0;

  &:not(:first-child) {
    margin: 1.6rem auto 0 auto;
  }
}

.iconAndTitle {
  display: flex;
  align-items: center;
  flex: 1;
}

.titleAndSubtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.6rem;
}

.title {
  font-size: $font-size-14;
}

.subtitle {
  font-size: $font-size-12;
  color: $color-octant-grey13;
  margin-top: 0.3rem;
}

.values {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .primary {
    font-weight: $font-weight-bold;
  }

  .secondary {
    color: $color-octant-grey6;
    font-weight: $font-weight-semibold;
  }
}
