.root {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: $color-octant-grey12;

  .logo {
    * {
      fill: $color-octant-dark-30;
    }
  }

  .track {
    position: relative;
    width: 6.4rem;
    height: 0.4rem;
    overflow: hidden;
    background: $color-octant-grey2;
    margin-top: 1.6rem;
    border-radius: $border-radius-08;

    .loader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: $border-radius-08;
      background: $color-octant-orange2;
    }
  }
}
