.root {
  display: flex;
  align-items: center;
  font-size: $font-size-14;
  font-weight: $font-weight-semibold;
  color: $color-octant-grey6;

  .identicon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: $border-radius-10;
    background: $color-white;
    margin-right: 1.5rem;
  }

  .address {
    @include ethereumAddress();
    flex: 1;
    text-align: left;
    font-size: $font-size-14;
    font-weight: $font-weight-semibold;
    color: $color-octant-dark;
  }

  .value {
    font-size: $font-size-14;
    font-weight: $font-weight-semibold;
    color: $color-octant-dark;
  }
}
